/* ===================== GOOGLE FONTS ===============  */

@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Poppins:wght@400;500;600&display=swap');




/* ================== VARIABLE CSS ======================= */
:root {
    --header-height : 3.5rem;



/* ============= Colors ===============  */

/* color mode HSL(hue, saturation, lightness) */
/* 
       Purple: hsl(250,66%,75%)
       Blue : hsl(207,90%,72%)
       Pink: hsl(356,66% ,75%)
       Teal: hsl(174,63%,62%)
 */

--first-hue: 250;
--sat: 66% ;
--lig: 75%;
--second-hue: 219;

--first-color:hsl(var(--first-hue) , var(--sat) , var(--lig) );
--first-color-alt: hsl(var(--first-hue), var(--sat), 71%);
--title-color: hsl(var(--second-hue), 15% , 95% ) ;
--text-color: hsl(var(--second-hue), 8% , 75%)  ;
--text-color-light: hsl(var(--second-hue), 4% , 55%) ;
--body-color: hsl(var(--second-hue), 48% , 8%) ;
--container-color: hsl(var(--second-hue) , 32% , 12%)  ;

/* =========== font and typography========  */

--body-font: 'Poppins', sans-serif ;
--biggest-font-size: 1.7rem ;
--h1-font-size: 1.5rem ;
--h2-font-size: 1.25rem ;
--h3-font-size: 1rem ;
--normal-font-size: 0.938rem ;
--small-font-size: 0.813rem  ;
--smaller-font-size: 0.7rem ;
--tiny-font-size: 0.625rem ;

/* ================== Font weight ================== */

--font-medium: 500 ;
--font-semibold: 600 ;

/* ============ z index ============================ */

--z-tooltip: 10  ;
--z-fixed: 100  ;
--z-modal: 1000 ; 

/* =========== Skill section variable css =============  */

 /* margin bottom  */
  --mb-0-25: .25rem ;
  --mb-0-5: .5rem ;
  --mb-0-75: .75rem ;
  --mb-1: 1rem ;
  --mb-1-5:  1.5rem ;
  --mb-2:  2rem ;
  --mb-2-5:  2.5rem;
  --mb-3:  3rem ;

}



/* ============= responsive typography=========== */

@media screen and (min-width: 968px) {
    :root{
    --biggest-font-size: 2.5rem ;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem ;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem ;
    --small-font-size: .9rem  ;
    --smaller-font-size: .813rem ;
    --tiny-font-size: 0.825rem ;

    }   
}
/* ============== Base ================  */
*{
    box-sizing: border-box ;
    padding: 0;
    margin: 0;

}

html{
    scroll-behavior: smooth;

}
body,
 button,
 input,
 textarea{
 font-family: var(--body-font);
font-size: var(--normal-font-size) ;

}
body{
    background-color: var(--body-color);
    color: var(--text-color);
    transition: .4s; 
    /* for light mode animation: ;  */
}

h1,h2,h3{
    color: var(--title-color);
    font-weight: var(--font-semibold);
}
ul{
    list-style: none;

}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
    border:none;
    outline: none;
}
img{
    max-width: 100%;
    height: auto;

}
/* =============== theme ==================  */

.change-theme{
    z-index: 100;
    font-size: 1.25rem;
    cursor: pointer;
    transition: .3s;
}


.change-theme:hover{
    color: var(--first-color);
}
 /* =============== Variables Light Theme =====================  */
 body.light-theme{
    /* --first-color:#7355a7;
    --first-color-alt: #8464bb;
    --text-color-light: #725d94 ; */
     /* --title-color: #705D8F; */
   /* --first-color:#6e49ad; */
  
   
  
   --title-color: hsl(var(--second-hue), 15% , 15% ) ;
   --text-color: hsl(var(--second-hue), 8% , 35%)  ;
   --body-color: hsl(var(--second-hue), 100% , 99%) ;
   /* --text-color-light: hsl(var(--second-hue), 4% , 55%) ; */
   --container-color: #fff ;

   
 }
 
 /* body.light-theme .home__handle {
             background: linear-gradient(180deg,
                   #805eb9,
              hsla(var(--first-hue),var(--sat),var(--lig),.2)
                );

 } */

 .light-theme .circles li {
 
    /* background: rgba(101, 13, 184, 0.247); */
    background: hsla(var(--first-hue) , var(--sat) , var(--lig), .35);;
    

 animation: animate 25s linear infinite; 

 } 

 body.light-theme .nav__logo{
    color: #5a3d8d;
    font-weight: 700;
 }



 /* ============ color changes in some parts of the website , 
                                  in Light theme  ==============  */

.light-theme .nav__menu {
    background-color: hsla(var(--second-hue),32%,90%,.8);
}

.light-theme .section__subtitle{
    color: var(--text-color);
}
.light-theme .home__social-link{
    box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, .2);
}
 
.light-theme .home__social::after,
.light-theme .footer__social-link{
    background-color: var(--title-color);
}

.light-theme .home__social-link,
.light-theme .home__scroll,
.light-theme .button,
.light-theme .button:hover,
.light-theme .footer__title,
.light-theme .footer__link,
.light-theme .footer__copy{
    color: var(--title-color);
}

.light-theme .about__box {
    box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, .1);
}
.light-theme .contact__card {
    box-shadow: 0 2px 16px hsla(var(--second-hue), 48%, 8%, .1);
}

.light-theme::-webkit-scrollbar{
    background-color: hsl(var(--second-hue), 8%, 66%);
}

.light-theme::-webkit-scrollbar-thumb{
    background-color: hsl(var(--second-hue), 8%, 54%);
}

.light-theme::-webkit-scrollbar-thumb:hover{
    background-color: hsl(var(--second-hue), 8%, 44%);
}

.light-theme .section__title,
.light-theme .skills__icon,
 .light-theme .skills__arrow{
    color: #7352ad;
}



/* ========== Reusable  css classes ==========  */
.container{
    max-width: 968px;
    margin-left: 1rem;
    margin-right: 1rem;

}
.grid{
    display: grid;
    gap: 1.25rem;

}
.main{
    overflow: hidden;
}
.section{
    padding: 4.5rem 0 1rem;
    
}
.section__title,
.section__subtitle{
    text-align: center;

}
.section__title{
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-bottom: 2rem;
}

.section__subtitle{
    display: block;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}
 /* ================== Header & Nav ===============  */

 .header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
    transition: .4s; 
    /* for light mode animation: ;  */
 }

.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo{
    color: var(--first-color);
    font-weight: var(--font-medium);
    transition: .4s ;
}
.nav__logo:hover{
    color: var(--first-color-alt);
}
.nav__menu{
    position: fixed;
    bottom: 1rem ;
    background-color: hsla(var(--second-hue),32%,16%,.8);
    width: 90%;
    border-radius: 4rem;
    padding: 1rem 2.25rem;
    backdrop-filter: blur(10px);
    transition: .4s; 
    /* for light mode animation: ;  */
}

.nav__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link{
    color: var(--text-color);
    font-size: 1.25rem;
    padding: .4rem;
    display: flex;
    border-radius: 5rem;
}

/* ======== Active  link =========  */
 .active-link{
    background: linear-gradient(180deg,
                hsla(var(--first-hue), var(--sat),var(--lig), 1),
                hsla(var(--first-hue), var(--sat),var(--lig), .2)
                );
    box-shadow: 0 0 16px hsla(var(--first-hue), var(--sat),var(--lig), .4);
    color: var(--title-color);
 }
 
 /* change background theme */

 .scroll-header{
    box-shadow: 0 4px  4px hsla(0, 0% , 4% , .3);
 }




 /* ================ Home ==================  */

 .home__container{
    position: relative;
    row-gap: 4.5rem;
    padding-top: 2rem;

 }

 .home__data{
    text-align: center;
 }
 .home__greeting ,
 .home__education{
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);

 }
 .home__greeting{
    display: block;
    color: var(--title-color);
    margin-bottom: .25rem;  
 }
 .home__education{
    color: var(--text-color);
    margin-bottom: 2.5rem;

 }
 .home__name{
    font-size: var(--biggest-font-size);

 }
 .home__img{
    width: 190px;
    /* width: 280px; */
    /* width: 100%; */
    

 }
 .home__handle{
    justify-self: center;
    
    width: 190px;
    height: 293px;
    background: linear-gradient(180deg,
                hsla(var(--first-hue),var(--sat),var(--lig),1),
                hsla(var(--first-hue),var(--sat),var(--lig),.2)
                );
    border-radius: 10rem 10rem 1rem 1rem ;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    z-index: 100;
 }
 .home__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    z-index: 8;
 }
 .home__social,
 .home__scroll{
    position: absolute;

 }
 .home__social{
    bottom: 5rem;
    left: 0;
    display: grid;
    row-gap: .5rem;

 }
 .home__social-link{
    width: max-content;
    background-color: var(--container-color);
    color: var(--first-color);
    padding: .25rem;
    border-radius: .25rem;
    display: flex;
    font-size: 1rem;
    transition: .4s ;
    z-index: 100;
 }
 .home__social-link:hover{
    background-color: var(--first-color);
    color: #fff;
 }
 .home__social::after{
    content: '';
    width: 32px;
    height: 2px;
    background-color: var(--first-color);
    transform: rotate(90deg) translate(16px,3px);
 }
 .home__scroll{
    color: var(--first-color);
    right: -1.5rem;
    bottom: 4rem;
    display: grid;
    row-gap: 2.25rem;
    justify-items: center;
 }

 .home__scroll-icon{
    font-size: 1.25rem;
    z-index: 100;
 }
 .home__scroll-name{
    font-size: var(--smaller-font-size);
    transform: rotate(-90deg);

 }
 /* ========= BUTTONS ===============  */
 .button{
    display: inline-block;
    background-color: var(--first-color);
    color: var(--body-color);
    padding: .75rem 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: .4s;
    z-index: 100;

 }
 .button:hover{
    background-color: var(--first-color-alt);
    color: var(--body-color);
 }
 

 .button--ghost{
    background-color: transparent;
    border: 2px solid var(--first-color);
    color: var(--first-color);
   z-index: 100;
 }


/* ========================== ABOUT ========================  */
 
.about__container{
    row-gap: 2.5rem ;
}

.about__img{
width: 220px;
border-radius: 1.5rem;
justify-self: center;

}

.about__data{
    text-align: center;
}
.about__info{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: .5rem;
    margin-bottom: 2rem;

}
.about__box{
    background-color: var(--container-color);
    border-radius: .75rem;
    padding: .75rem .5rem;
}
.about__icon{
   font-size: 1.5rem;
   color: var(--first-color);
   margin-bottom: .5rem;
}

.story__icon{
    color: var(--first-color);  
    font-size: 1.9rem;
    margin-top: .5rem;

}
.about__title{
    font-size: var(--small-font-size);
}

.story__title{
    margin-top: .8rem;
    font-size: var(--font-medium);

}
.about__subtitle{
    font-size: var(--tiny-font-size);
}
 .about__description{
    margin-bottom: 2rem;
 }
 
 /* ====================== SKILLS ==============================  */

.skills__container{
    row-gap: 0;
    
}

.skills__header{
    display: flex ;
    align-items: center;
    margin-bottom:var(--mb-2-5) ;
    cursor: pointer;
}

.skills__icon,
.skills__arrow{
    font-size: 2rem ;
    color: var(--first-color);
    
}

.skills__icon{
    margin-right: var(--mb-0-75);
    
}
.skills__title{
    font-size: var(--h3-font-size);
}
.skills__subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}
.skills__arrow{
    margin-left: auto;
    transition: .4s;
}

.skills__list{
    row-gap: 1.5rem;
    padding-left: 2.7rem;
}
.skills__titles{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
}

.skills__name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.skills__bar,
.skills__percentage{
    height: 5px;
    border-radius: .25rem;
}

.skills__bar{
    background-color: hsl(var(--first-hue) , 76% , 89% );
    
}
.skills__percentage{
    display: block;
    background-color: hsl(var(--first-hue) , var(--sat) , 65%);
    
}
.skills__html{
    width: 90%;
}
.skills__css{
    width: 87%;
}
.skills__js{
    width: 80%;
}
.skills__bootstrap{
    width: 77%;
}
.skills__react{
    width: 85%;
}
.skills__redux{
    width: 70%;
}
.skills__material{
    width: 80%;
}
.skills__java{
    width: 70%;
}
.skills__mysql{
    width: 75%;
}
 /* .skills__spring{
    width: 70%;
}
.skills__springB{
    width: 76%;
}
.skills__hibernate{
    width: 74%; 
}  */
.skills__illustrator{
    width: 70%;
}
/* .skills__photoshop{
    width: 70%;
} */
.skills__close .skills__list{
    height: 0;
    overflow: hidden;

}
 .skills__open .skills__list{
    height: max-content;
    margin-bottom: var(--mb-2-5);
 }
 .skills__open .skills__arrow{
    transform: rotate(-180deg);
 }

 /* ====================== QUALIFICATION ==============================  */
 .qualification__tabs{

    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2);
 }
.qualification__button{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    cursor: pointer;
}
.qualification__button:hover{
    color: var(--first-color);
}

.qualification__icon{
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
    
}

.qualification__data{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}
.qualification__title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}
.qualification__subtitle{
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
}

.qualification__calendar{
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}
.qualification__rounder{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--first-color);
    border-radius: 50%;
}
.qualification__line{
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--first-color);
    transform: translate(6px, -7px);

}
 /* =================== PORTFOLIO ==============================  */

 .portfolio__container{
    overflow: initial;
 }
 .portfolio__content{
    padding: 0 1.5rem;

 }
 .portfolio-buttons{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
 }
 .portfolio__title{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
 }
.portfolio__description{
    margin-bottom: var(--mb-0-75);
    /* display: none; */
}
.portfolio__button:hover .button__icon{
    transform: rotate(-40deg);
}
.portfolio__img{
    /* width: 265px; */
    /* border-radius: .5rem; */
    justify-self: center;
    object-fit: cover;
 }

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-color: rgba(81, 64, 97, 0.26);
    background-position: center;
    background-size: cover;
    width: 300px;
    height:max-content;
    border-radius: .5rem .5rem;
    padding-top: .8rem;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    border-radius: .5rem .5rem;
  }

/* ========hero section bubbles =================  */
.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;   
}
.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    /* background: rgba(223, 81, 159, 0.692); */
    background: rgba(196, 141, 248, 0.301);
    animation: animate 25s linear infinite;
    bottom: -150px;
    border-radius: 100%;  
}


.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    border-radius: 100%;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
    border-radius: 100%;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
    border-radius: 100%;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
    border-radius: 100%;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    border-radius: 100%;
}

.circles li:nth-child(6){
    left: 75%;
    width: 90px;
    height: 90px;
    animation-delay: 3s;
    border-radius: 100%;
}

.circles li:nth-child(7){
    left: 35%;
    width: 110px;
    height: 110px;
    animation-delay: 7s;
    border-radius: 100%;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
    border-radius: 100%;
}

.circles li:nth-child(9){
    left: 10%;
    width: 17px;
    height: 17px;
    animation-delay: 2s;
    animation-duration: 35s;
    border-radius: 100%;
}


.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
    border-radius: 100%;
} 

.circles li:nth-child(11){
    left: 20%;
    width: 25px;
    height: 25px;
    animation-delay: 2s;
    animation-duration: 35s;
    border-radius: 100%;
}


@keyframes animate {

    0%{
        transform: translateY(0) ;
        /* rotate(0deg) */
        opacity: 1;
        border-radius: 0;
        border-radius: 100%;
    }

    100%{
        transform: translateY(-1300px) ;
        /* rotate(720deg) */
        opacity: 0;
        /* border-radius: 50%; */
        border-radius: 100%;
    }

}

/* ======================= CONTACT ===========================  */

.contact__container{
    row-gap: 3rem;
    padding-bottom: 3rem;
    

}

.contact__title{
    text-align: center;
    font-size: var(--h3-font-size);
    margin-bottom: 1.5rem;

}
.contact__info{
    display: grid;
    gap: 1rem;
}
.contact__card{
    background-color: var(--container-color);
    padding: 1rem ;
    border-radius: .75rem;
    text-align: center;
}
.contact__card-icon{
    font-size: 2rem;
    color: var(--title-color);
    margin-bottom: .25rem;
}
.contact__card-title,
.contact__card-data{
    font-size: var(--small-font-size);
}
.contact__card-title{
    font-weight: var(--font-medium) ;

}

.contact__card-data{
    display: block;
    margin-bottom: .75rem;
}
.contact__button{
    color: var(--first-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .25rem;
}

.contact__button:hover .contact__button-icon{
    transform: translateX(.25rem);
}

.contact__button-icon{
    font-size: 1rem;
    transition: .4s;
}

/* ================== FOOTER ============================  */
.footer{
    background-color: var(--first-color);
}
.footer__container{
    padding: 2rem 0 6rem;
}
.footer__title,
.footer__link{
    color: var(--body-color);
}
.footer__title{
    text-align: center;
    margin-bottom: 2rem;
}

.footer__list{
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: 2rem;
}

.footer__social{
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}
.footer__social-link{
    background-color: var(--body-color);
    color: var(--first-color);
    padding: .25rem;
    border-radius: .25rem;
    font-size: 1rem;
    display: inline-flex;
}

.footer__copy{
    display: block;
    margin-top: 4.5rem;
    color: var(--container-color);
    text-align: center;
    font-size: var(--smaller-font-size);
}

/* ======================== SCROLL BAR ================================  */

::-webkit-scrollbar{
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(var(--second-hue), 8%, 38%);
}
::-webkit-scrollbar-thumb{
    background-color: hsl(var(--second-hue), 8%, 26%);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
    background-color: hsl(var(--second-hue), 8%, 20%);

}

/* ======================== BREAKPOINTS ============================= */

 /* for small devices  */
 @media screen  and (max-width: 320px){
    .nav__menu{
        padding: 1rem 1.5rem;
    }
    .home__buttons{
        flex-direction: column;
    }
    .home__handle{
        width: 150px;
        height: 253px;
    }
    .home__img{
        width: 130px;
    }

    .skills__title{
        font-size: var(--normal-font-size);
    }
    .hsc{
        margin-left: 1rem;
   }
    .qualification__data{
        gap: .5rem;
    }
    

   .portfolio__content{
    width: 280px;
    height: 280px;
   }
   .button--ghost{
    z-index: 200;
   }
 }

 /* ====== for 375 portfolio ======  */

 @media screen and (max-width:375px) {
    .portfolio__content{
        width: 300px;
        height: 500px;
       }

    
 }
 @media screen and (max-width:575px) {
    .portfolio__content{
        width: 310px;
        height: 500px;
       }

    
 }

 
 /* ============ for medium devices =================  */

 @media screen  and  (min-width: 576px){
 
    .nav__menu{
        width: 328px;
        left: 0;
        right: 0;
        margin: 0 auto; 
    }
     
    .about__info{
        grid-template-columns: repeat(3,140px);
        justify-content: center;
    }
    .about__description{
        padding: 0 5rem;
    }
     
    .skills__container
    {
        grid-template-columns: repeat(1,1fr);
    }
    .portfolio__content{
        width: 400px;
        height:460px;
       }
    .qualification__sections{
        display: grid;
        grid-template-columns: .6fr;
        justify-content: center;
    }

    .contact__info{
        grid-template-columns: 300px;
        justify-content: center;
    }
 }

@media  screen and (min-width:768px) {

    .portfolio__content{
        width: 550px;
        height: 600px;
    }
    .qualification__tabs{
        justify-content: center;
    }
    .qualification__button{
        margin: 0  var(--mb-1);
    }
    .qualification__sections{
        grid-template-columns: .5fr;
    }

}

/* =========for large devices =============  */


@media screen and (min-width:992px) {

    .container{
        margin-left: auto;
        margin-right: auto;
    }
    .section{
        padding: 6.5rem  0 1rem;
    }
    .section__title{
        margin-bottom: 3.5rem;
    }
    .nav{
        height: calc(var(--header-height) + 1rem );
    }
    .home__handle{
        width: 290px;
        height: 400px;
    }
    .home__img{
        width: 290px;
    }
    .home__social-link{
        padding: .4rem;
        font-size: 1.25rem;
    }
    .home__social::after{
        transform: rotate(90deg) translate(16px,0);
    }
    .home__scroll-icon{
        font-size: 2rem;
        
    }
    .about__container{
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        column-gap: 4rem;
    }
    .about__img{
        width: 350px;
    }
    .about__data{
        text-align: initial;

    }
    .about__info{
        justify-content: initial;
    }
    .about__box{
        text-align: center;
        padding: 1rem 1.25rem;
    }
    .about__description{
        padding: 0 4rem 0 0 ;
        margin-bottom: 2.5rem;
    }
    .about__subtitle{
        font-size: .8rem;
    }

    
    .portfolio__content{
        width: 550px;
        height: 600px;
    }
   .contact__container{
    column-gap: 6rem ;
   }
   .footer__social-link{
    font-size: 1.25rem;
    padding: .4rem;
    border-radius: 0.5rem;
   }

}

/* =====for 1024 px ============== */


@media screen and (min-width:1024px) {
    .swiper-container-horizontal > .swiper-pagination-bullets{
        bottom: -4.5rem;
    }
    .portfolio__content{
        width: 560px;
        height: 650px;
    }
    .skills__container
    {
        grid-template-columns: repeat(1,1fr);
    }
    
    
}
@media (min-width: 576px) {
    .portfolio__description{
        margin-bottom: var(--mb-0-75);
        display: block;
    }
    /* .swiper-slide{
        height: 400px;
    } */
}


